---
import type { CollectionEntry } from "astro:content";
import Navbar from "../components/Navbar.astro";
import { useTranslations, type UiType } from "../i18n/utils";

type Props = CollectionEntry<"challenges">["data"];

const { title, description, lang } =
  Astro.props;

const t = useTranslations(lang as UiType);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
     <main>
      <Navbar />
		   <slot />
	   </main>
  </body>
</html>